<!DOCTYPE html> 
<html> 
	<head> 
	<title>Storage and Geolocation sample</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>
</head> 
<body> 

<div data-role="page">

	<div data-role="header">
		<h1>Storage and Geolocation sample</h1>
	</div><!-- /header -->

	<div data-role="content">	

		<form>
			<label for="text">Text:</label> <input type="text" id="text"/>
		</form>
		
		<button type="button" onclick="save()">Save</button>
		
		<button type="button" onclick="load()">Load</button>
		
		<form>
			<label for="latitude">Latitude:</label> <input type="text" id="latitude"/>
			<label for="longitude">Longitude:</label> <input type="text" id="longitude"/>
		</form>
		
		<button type="button" onclick="readGeolocation()">Get Geolocation</button>
		
	</div><!-- /content -->

</div><!-- /page -->

<script>

function save()
{
	localStorage.textValue = $("#text").val();
}

function load()
{
	$("#text").val(localStorage.textValue);
}

function readGeolocation()
{
	if (navigator.geolocation) {
		navigator.geolocation.getCurrentPosition(onGeolocationSuccess, onGeolocationError);
	}
}

function onGeolocationSuccess(position)
{
	$("#latitude").val(position.coords.latitude);
	$("#longitude").val(position.coords.longitude);
}

function onGeolocationError(message)
{
	alert(message);
}

</script>

</body>
</html>
