<!DOCTYPE html> 
<html> 

<head> 
	<title>Storage and Geolocation sample</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="jquery.mobile-1.0.min.css" />
	<script type="text/javascript" src="jquery-1.6.4.min.js"></script>
	<script type="text/javascript" src="dao.js"></script>
	<script type="text/javascript" src="controller.js"></script>
	<script type="text/javascript" src="model.js"></script>
	<script type="text/javascript" src="jquery.mobile-1.0.min.js"></script>
</head> 
<body> 

<div data-role="page">

	<div data-role="header">
		<h1>Storage and Geolocation sample</h1>
	</div><!-- /header -->

	<div data-role="content">	

		<h3>Generic model object</h3>
		<form id="form">
		</form> <!-- /the form components are created via JavaScript -->
		
		<h3>Actions:</h3>
		<button type="button" onclick="create()">Create</button>
		<button type="button" onclick="retrieveById()">Retrieve by ID</button>
		<button type="button" onclick="list()">List</button>
		<button type="button" onclick="updateById()">Update by ID</button>
		<button type="button" onclick="deleteById()">Delete by ID</button>
		<button type="button" onclick="deleteAll()">Delete all</button>
		
		<div id="listDiv" style="display:none;">
			<h3>Records list</h3>
			<span id="list"></span>
		</div>
		
		<h3>Geolocation</h3>
		<form>
			<label for="latitude">Latitude:</label> <input type="text" id="latitude"/>
			<label for="longitude">Longitude:</label> <input type="text" id="longitude"/>
		</form>
		
		<button type="button" onclick="readGeolocation()">Get Geolocation</button>
		
	</div><!-- /content -->

</div><!-- /page -->

</body>
</html>
