<html>
    <head> 
	    <title>Sample jQuery remote request</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" href="jquery.mobile-1.0.min.css" />
	    <link rel="stylesheet" href="style.css" />
	    <script type="text/javascript" src="jquery-1.6.4.min.js"></script>
	    <script type="text/javascript" src="jquery.mobile-1.0.min.js"></script>
    </head> 

    <body> 
        <div data-role="page">
	        <div data-role="header">
		        <h1>Remote request sample</h1>
	        </div>
	
	        <div data-role="content">	
		        <form>
		            <label for="operando">Operando:</label> 
		            <input id="operando" type="number" />

		            <label for="operador">Operador:</label> 
		            <input id="operador" type="number" />

		            <label for="resultado">Resultado:</label> 
		            <input id="resultado" type="number" readonly="readonly"/>
		        </form>
	        </div>
        </div>
    </body>
    <script type="text/javascript">
        $(function() {
            $('body').append('<div id="block-ui"></div>');      

            $('input').bind('change', function() {
                var operando = $('#operando').val();
                var operador = $('#operador').val();

                if (operando && operador) {
                    $('#block-ui').show();
                    $.ajax('calculate', {
                        data: {
                            'operand' : operando,
                            'operator' : operador
                        },
                        success: function(data) {
                            $('#resultado').val(data);
                            $('#block-ui').hide();
                        }
                    })
                }
            });
        });
    </script>
</html>
